@import "../../globalStyles/theme";
@import "../../globalStyles/typo";

.card_assesment_wraper {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid $gray-light;
    background: $white;

    @media (max-width: 480px) {
        padding: 14px;
    }

    .card_body {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px dashed $gray-light;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            @media (max-width: 1024px) {
                flex-direction: row;
            }
            @media (max-width: 768px) {
            }

            @media (max-width: 480px) {
            }
            .icon_assessment {
                width: 50px;
                height: 50px;
                display: block;
                cursor: pointer;
                background-color: $secondary;
                background: url("../../assets/icons/dashboard-icons/icon-bag-assesment.svg") no-repeat center;
            }
            .content {
                .title {
                    color: $primary;
                    font-family: $font;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 25px;
                    margin-bottom: 3px;
                    @media (max-width: 768px) {
                    }

                    @media (max-width: 480px) {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                .subTitle {
                    color: $primary;
                    font-family: $font;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19.6px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media (max-width: 480px) {
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .calendar {
                        display: flex;
                        gap: 4px;
                        align-items: center;
                        color: #8da4bf;
                        font-family: $font;
                        font-size: 12px;
                        font-weight: 500;
                        padding-left: 10px;
                        border-left: 1px solid $gray-light;

                        .icon_calendar {
                            width: 14px;
                            height: 14px;
                            display: block;
                            cursor: pointer;
                            background-color: $primary;
                            -webkit-mask: url("../../assets/icons/dashboard-icons/icon-calendar.svg") no-repeat center;
                            mask-image: url("../../assets/icons/dashboard-icons/icon-calendar.svg") no-repeat center;
                        }
                    }
                }
            }
        }
        .button_dots {
            width: 20px;
            height: 20px;
            display: block;
            cursor: pointer;
            background-color: $primary;
            -webkit-mask: url("../../assets/icons/dashboard-icons/icon-dots.svg") no-repeat center;
            mask-image: url("../../assets/icons/dashboard-icons/icon-dots.svg") no-repeat center;
            @media (max-width: 480px) {
                width: 16px;
                height: 16px;
            }
        }
    }

    .card_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .duration_wrap {
            display: flex;
            gap: 14px;

            .duration_time {
                color: $primary;
                font-family: $font;
                font-size: 14px;
                font-weight: 600;
                line-height: 19.6px;
                @media (max-width: 480px) {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            .duration_title {
                color: $primary;
                font-family: $font;
                font-size: 12px;
                font-weight: 500;
                line-height: 19.6px;
                @media (max-width: 480px) {
                    font-size: 10px;
                }
            }
        }
        .userList_wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            flex: 1 1;
            justify-content: end;
            .share_button {
                border: 1px solid $primary;
                color: $primary;
                font-family: $font;
                font-size: 14px;
                font-weight: 500;
                padding: 2px 8px 2px 6px;
                border-radius: 50px;
                line-height: 19.6px;
                display: flex;
                gap: 4px;
                background-color: transparent;
                cursor: pointer;
                @media (max-width: 480px) {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 17px;
                }
                .icon_atteched {
                    width: 20px;
                    height: 20px;
                    display: block;
                    cursor: pointer;
                    background-color: $primary;
                    -webkit-mask: url("../../assets/icons/dashboard-icons/icon-atteched.svg") no-repeat center;
                    mask-image: url("../../assets/icons/dashboard-icons/icon-atteched.svg") no-repeat center;

                    @media (max-width: 480px) {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
