$primary: #040440;
$primary-light: #2D2D69;
$primary-text: #9B9FB9;
$white: #ffffff;
$black: #000000;
$secondary: #0073e6;
$danger: #D80011;
$danger-light: #FEB1D9;
$gray: #F5F6F8;
$gray-light: #DADCE0;
$success: #01AC50;
$success-light: #E0FFEF;
$purple: #BA49FF;
$purple-light: #E7DBFF;
$blue: #0152BD;
$blue-light: #CCF2FF;
